@charset "utf-8";
/* CSS Document */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

	border: 0px solid #3e5086;
}

	.flip-container:hover .flipper,  
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front1, .back1, .front2, .back2, .front3, .back3, .front4, .back4 {
	width: 200px;
	height: 320px;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front1, .back1, .front2, .back2, .front3, .back3, .front4, .back4 {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front1 {
	background: #3e5086 url("eLearning1.png") 0 0 no-repeat;
	z-index: 2;
}

.front2 {
	background: #3e5086 url("Virtual Lab1.png") 0 0 no-repeat;
	z-index: 2;
}

.front3 {
	background: #3e5086 url("eResearch1.png") 0 0 no-repeat;
	z-index: 2;
}

.front4 {
	background: #3e5086 url("Video1.png") 0 0 no-repeat;
	z-index: 2;
}

.back1, .back2, .back3, .back4 {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: #3e5086;
}




.back1, .back2, .back3, .back4, p {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
  font-family: arial;
  line-height: 2em;
}


