<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SELECT-portal(under construction)</title>
    <link rel="stylesheet" type="text/css"  href="http://localhost:63342/stylesheets/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" type="image/ico" href="http://localhost:63342/images/favicon_initial.ico">
     <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href='http://localhost:63342/stylesheets/portal.css'>
    </head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>    
    <div class="container-fluid">
<div class="row heading-bar " style="background-color:#3B5998;">
    <div class="col-md-offset-1 col-md-4"><img src="http://localhost:63342/images/vit_logos/vit_logo_white.png"
                                               height="80" alt="VIT Logo"/></div>
    <div class="col-md-6" style="text-align:right;"><font color=#FFFFFF><h2>
                <b>School of Electrical Engineering</b><br>
                VIT University</h2>
        </font></div>
</div></div>
    
<nav class="navbar navbar-default sticky-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="navbar-header">
                </div>
                <ul class="nav navbar-nav">
                    <li id='nav-home' class="active"><a href="/">Home</a></li>
                    <li id='nav-admin'><a href="10.50.215.115:63342/administration">Administration</a></li><li class="divider"></li>                   <li id='nav-faculty'><a href="/faculty">Faculty</a></li><li class="divider"></li>
                    <li id='nav-staff'><a href="10.50.215.115:63342/staff">Staff</a></li>

                    <li id='nav-stud'><a href="10.50.215.115:63342/students">Students</a></li>
                    <li id='nav-labs'><a href="http://info.vit.ac.in/Virtual_Edu/index.html">Laboratories</a></li>
                    <li id='nav-res'><a href="http://info.vit.ac.in/Virtual_Edu/index.html">Research</a></li>
                    <li id='nav-proj'><a href="http://info.vit.ac.in/Virtual_Edu/index.html">Projects</a></li>
                    <li id='nav-publ'><a href="http://info.vit.ac.in/Virtual_Edu/index.html">Virtual Education</a></li>
                    <li id='nav-lvideos'><a href="http://info.vit.ac.in/Virtual_Edu/index.html">Lecture Videos</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Login Portal
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <% if(!currentUser){%>
                            <li><a href="/stud_login/">Student Login</a></li>
                            <%}else {%>
                            <li><a href="/logout">Logout</a></li>
                            <%}%>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>
        
    <div class="content-body">
        <div class="container-fluid">
