<% include ./partials/header.ejs %>
<script>
$(document).ready(function(){
    $('body').css('background','#dbe9fd');
    $('.navbar-nav .active').removeClass('active');
});
</script>

<div class='login-body'>
    <div class="row">
        <div class="col-md-4 col-sm-4"></div>
        <div class="loginbox col-md-4 col-sm-4">
            <img src="http://localhost:63342/images/portalmax.jpg" class="portalmax">
            <h1> Login</h1>
            <%if(query.error){ if (query.error==402){%>
                <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only"></span>
                Wrong Register Number or Password
                </div>
            <%}}%>
            <form  method="post">
                <br>
                <p style="text-align:left">Register Number</p>
                <input type="text" name="regno" placeholder="Enter Reg. No.">
                <br>
                <p style="text-align:left">Password</p>
                <input type="password" name="password" placeholder="Enter Password">
                <br>
                <input type="Submit" name="" value="Login">
            </form>
        </div>
        <div class="col-md-4 col-sm-4"></div>

    </div>
</div>
<% include ./partials/footer.ejs %>